@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Для Chrome, Safari, Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Для IE, Edge и Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
  }

body {}